/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* .searchIcon {
    position: absolute;
    right: 10px;
    top: 25px;
} */
.display_none{display:none;}
.borderBott h3{
	font-size: 14px;
    border-bottom: 2px solid #fff;
    display: inline-block;
    padding: 0px 6px 4px 6px!important;

}

.fl-node-6006dbd71f311 > .fl-row-content-wrap {background-color: #4a4e69;}.fl-node-6006dbd71f311 .fl-row-content {max-width: 1300px;} .fl-node-6006dbd71f311 > .fl-row-content-wrap {padding-top:5px;padding-bottom:5px;}.fl-node-5d827d535fd1f {color: #414042;}.fl-builder-content .fl-node-5d827d535fd1f *:not(input):not(textarea):not(select):not(a):not(h1):not(h2):not(h3):not(h4):not(h5):not(h6):not(.fl-menu-mobile-toggle) {color: inherit;}.fl-builder-content .fl-node-5d827d535fd1f a {color: #414042;}.fl-builder-content .fl-node-5d827d535fd1f a:hover {color: #414042;}.fl-builder-content .fl-node-5d827d535fd1f h1,.fl-builder-content .fl-node-5d827d535fd1f h2,.fl-builder-content .fl-node-5d827d535fd1f h3,.fl-builder-content .fl-node-5d827d535fd1f h4,.fl-builder-content .fl-node-5d827d535fd1f h5,.fl-builder-content .fl-node-5d827d535fd1f h6,.fl-builder-content .fl-node-5d827d535fd1f h1 a,.fl-builder-content .fl-node-5d827d535fd1f h2 a,.fl-builder-content .fl-node-5d827d535fd1f h3 a,.fl-builder-content .fl-node-5d827d535fd1f h4 a,.fl-builder-content .fl-node-5d827d535fd1f h5 a,.fl-builder-content .fl-node-5d827d535fd1f h6 a {color: #414042;}.fl-node-5d827d535fd1f > .fl-row-content-wrap {background-color: #F4FEF9;}.fl-node-5d827d535fd1f .fl-row-content {max-width: 1300px;} .fl-node-5d827d535fd1f > .fl-row-content-wrap {padding-top:0px;padding-right:0px;padding-bottom:0px;padding-left:0px;}.fl-node-5d946a3235e76 > .fl-row-content-wrap {background-color: #22223b;}.fl-node-6006dbd726144 {width: 14%;}.fl-node-6006dc62f0c6b {width: 86%;}.fl-node-5d827d535fdd6 {width: 100%;}.fl-node-5d827d8c4b8ba {width: 22.41%;}@media(max-width: 1181px) {.fl-builder-content .fl-node-5d827d8c4b8ba {width: 50% !important;max-width: none;clear: none;float: left;}} .fl-node-5d827d8c4b8ba > .fl-col-content {margin-bottom:0px;}.fl-node-5d827d8c4b8bd {width: 69.59%;}.fl-node-5d839b9a59bf9 {width: 8%;}@media(max-width: 1181px) {.fl-builder-content .fl-node-5d839b9a59bf9 {width: 50% !important;max-width: none;clear: none;float: left;}}.fl-node-5d946a32427f6 {width: 100%;}.fl-builder-content .fl-node-6006dc1950bbe .fl-module-content .fl-rich-text,.fl-builder-content .fl-node-6006dc1950bbe .fl-module-content .fl-rich-text * {color: #f9f9f8;} .fl-node-6006dc1950bbe > .fl-module-content {margin-top:0px;margin-bottom:0px;}.fl-builder-content .fl-node-6006dc5ecb97b .fl-module-content .fl-rich-text,.fl-builder-content .fl-node-6006dc5ecb97b .fl-module-content .fl-rich-text * {color: #f9f9f8;} .fl-node-6006dc5ecb97b > .fl-module-content {margin-top:0px;margin-bottom:0px;}.fl-node-5d826be56f8a9 {width: 100%;}.fl-node-5d826be56f8a9 .uabb-photo-content {}.fl-node-5d826be56f8a9 .uabb-photo-content img {width: 200px;}.fl-node-5d826be56f8a9 .uabb-photo-caption { }.fl-node-5d826be56f8a9 .uabb-photo-content .uabb-photo-img {-moz-transition: all .3s ease;-webkit-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;transition: all .3s ease;}.fl-node-5d826be56f8a9 .uabb-photo-content .uabb-photo-img {opacity: 1;}.fl-node-5d826be56f8a9 .uabb-photo-content .uabb-photo-img:hover {opacity: 1; }@media ( max-width: 1181px ) {.fl-node-5d826be56f8a9 .uabb-photo-mob-align-left {text-align: left;}} .fl-node-5d826be56f8a9 > .fl-module-content {margin-top:0px;margin-bottom:0px;}.fl-menu ul,.fl-menu li{list-style: none;margin: 0;padding: 0;}.fl-menu .menu:before,.fl-menu .menu:after{content: '';display: table;clear: both;}.fl-menu li{position: relative;}.fl-menu a{display: block;padding: 10px;text-decoration: none;}.fl-menu a:hover{text-decoration: none;}.fl-menu .sub-menu{min-width: 220px;}.fl-module[data-node] .fl-menu .fl-menu-expanded .sub-menu {background-color: transparent;-webkit-box-shadow: none;-ms-box-shadow: none;box-shadow: none;}.fl-menu .fl-has-submenu:focus,.fl-menu .fl-has-submenu .sub-menu:focus,.fl-menu .fl-has-submenu-container:focus {outline: 0;}.fl-menu .fl-has-submenu-container{ position: relative; }.fl-menu .fl-has-submenu-container a{ padding-right: 38px; }.fl-menu .fl-menu-accordion .fl-has-submenu > .sub-menu{display: none;}.fl-menu .fl-menu-accordion .fl-has-submenu.fl-active .hide-heading > .sub-menu {box-shadow: none;display: block !important;}.fl-menu .fl-menu-toggle{position: absolute;top: 50%;right: 0;cursor: pointer;}.fl-menu .fl-toggle-arrows .fl-menu-toggle:before,.fl-menu .fl-toggle-none .fl-menu-toggle:before{border-color: #333;}.fl-menu .fl-menu-expanded .fl-menu-toggle{display: none;}.fl-menu .fl-menu-mobile-toggle {position: relative;padding: 8px;background-color: transparent;border: none;color: #333;border-radius: 0;}.fl-menu .fl-menu-mobile-toggle.text{width: 100%;text-align: center;}.fl-menu .fl-menu-mobile-toggle.hamburger .fl-menu-mobile-toggle-label,.fl-menu .fl-menu-mobile-toggle.hamburger-label .fl-menu-mobile-toggle-label{display: inline-block;margin-left: 10px;vertical-align: middle;}.fl-menu .fl-menu-mobile-toggle.hamburger .svg-container,.fl-menu .fl-menu-mobile-toggle.hamburger-label .svg-container{display: inline-block;position: relative;width: 1.4em;height: 1.4em;vertical-align: middle;}.fl-menu .fl-menu-mobile-toggle.hamburger .hamburger-menu,.fl-menu .fl-menu-mobile-toggle.hamburger-label .hamburger-menu{position: absolute;top: 0;left: 0;right: 0;bottom: 0;}.fl-menu .fl-menu-mobile-toggle.hamburger .hamburger-menu rect,.fl-menu .fl-menu-mobile-toggle.hamburger-label .hamburger-menu rect{fill: currentColor;}li.mega-menu .hide-heading > a,li.mega-menu .hide-heading > .fl-has-submenu-container,li.mega-menu-disabled .hide-heading > a,li.mega-menu-disabled .hide-heading > .fl-has-submenu-container {display: none;}ul.fl-menu-horizontal li.mega-menu {position: static;}ul.fl-menu-horizontal li.mega-menu > ul.sub-menu {top: inherit !important;left: 0 !important;right: 0 !important;width: 100%;}ul.fl-menu-horizontal li.mega-menu.fl-has-submenu:hover > ul.sub-menu,ul.fl-menu-horizontal li.mega-menu.fl-has-submenu.focus > ul.sub-menu {display: flex !important;}ul.fl-menu-horizontal li.mega-menu > ul.sub-menu li {border-color: transparent;}ul.fl-menu-horizontal li.mega-menu > ul.sub-menu > li {width: 100%;}ul.fl-menu-horizontal li.mega-menu > ul.sub-menu > li > .fl-has-submenu-container a {font-weight: bold;}ul.fl-menu-horizontal li.mega-menu > ul.sub-menu > li > .fl-has-submenu-container a:hover {background: transparent;}ul.fl-menu-horizontal li.mega-menu > ul.sub-menu .fl-menu-toggle {display: none;}ul.fl-menu-horizontal li.mega-menu > ul.sub-menu ul.sub-menu {background: transparent;-webkit-box-shadow: none;-ms-box-shadow: none;box-shadow: none;display: block;min-width: 0;opacity: 1;padding: 0;position: static;visibility: visible;}.fl-menu-mobile-clone {clear: both;}.fl-menu-mobile-clone .fl-menu .menu {float: none !important;}.fl-menu-mobile-close {display: none;}.fl-menu-mobile-close,.fl-menu-mobile-close:hover,.fl-menu-mobile-close:focus {background: none;border: 0 none;color: inherit;font-size: 18px;padding: 10px 6px 10px 14px;}.fl-builder-ie-11 .fl-module-menu .fl-menu-horizontal .fl-has-submenu:hover > .sub-menu {z-index: 60;}.fl-node-5d826ff320ba5 .fl-menu .menu {}.fl-node-5d826ff320ba5 .menu a{padding-left: 15px;padding-right: 15px;padding-top: 15px;padding-bottom: 8px;}.fl-builder-content .fl-node-5d826ff320ba5 .menu > li > a,.fl-builder-content .fl-node-5d826ff320ba5 .menu > li > .fl-has-submenu-container > a,.fl-builder-content .fl-node-5d826ff320ba5 .sub-menu > li > a,.fl-builder-content .fl-node-5d826ff320ba5 .sub-menu > li > .fl-has-submenu-container > a{color: #22223b;}.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-arrows .fl-menu-toggle:before,.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-none .fl-menu-toggle:before {border-color: #22223b;}.fl-node-5d826ff320ba5 .menu > li > a:hover,.fl-node-5d826ff320ba5 .menu > li > a:focus,.fl-node-5d826ff320ba5 .menu > li > .fl-has-submenu-container:hover > a,.fl-node-5d826ff320ba5 .menu > li > .fl-has-submenu-container.focus > a,.fl-node-5d826ff320ba5 .sub-menu > li > a:hover,.fl-node-5d826ff320ba5 .sub-menu > li > a:focus,.fl-node-5d826ff320ba5 .sub-menu > li > .fl-has-submenu-container:hover > a,.fl-node-5d826ff320ba5 .sub-menu > li > .fl-has-submenu-container.focus > a,.fl-node-5d826ff320ba5 .menu > li.current-menu-item > a,.fl-node-5d826ff320ba5 .menu > li.current-menu-item > .fl-has-submenu-container > a,.fl-node-5d826ff320ba5 .sub-menu > li.current-menu-item > a,.fl-node-5d826ff320ba5 .sub-menu > li.current-menu-item > .fl-has-submenu-container > a{color: #4a4e69;}.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-arrows .fl-has-submenu-container:hover > .fl-menu-toggle:before,.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-arrows .fl-has-submenu-container.focus > .fl-menu-toggle:before,.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-arrows li.current-menu-item >.fl-has-submenu-container > .fl-menu-toggle:before,.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-none .fl-has-submenu-container:hover > .fl-menu-toggle:before,.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-none .fl-has-submenu-container.focus > .fl-menu-toggle:before,.fl-node-5d826ff320ba5 .fl-menu .fl-toggle-none li.current-menu-item >.fl-has-submenu-container > .fl-menu-toggle:before{border-color: #4a4e69;}.fl-node-5d826ff320ba5 .menu .fl-has-submenu .sub-menu{display: none;}.fl-node-5d826ff320ba5 .fl-menu .sub-menu {background-color: #f9f9f8;-webkit-box-shadow: 0 1px 20px rgba(0,0,0,0.1);-ms-box-shadow: 0 1px 20px rgba(0,0,0,0.1);box-shadow: 0 1px 20px rgba(0,0,0,0.1);}.fl-node-5d826ff320ba5 .fl-menu .fl-menu-toggle:before{content: '';position: absolute;right: 50%;top: 50%;z-index: 1;display: block;width: 9px;height: 9px;margin: -5px -5px 0 0;border-right: 2px solid;border-bottom: 2px solid;-webkit-transform-origin: right bottom;-ms-transform-origin: right bottom;transform-origin: right bottom;-webkit-transform: translateX( -5px ) rotate( 45deg );-ms-transform: translateX( -5px ) rotate( 45deg );transform: translateX( -5px ) rotate( 45deg );}.fl-node-5d826ff320ba5 .fl-menu .fl-has-submenu.fl-active > .fl-has-submenu-container .fl-menu-toggle{-webkit-transform: rotate( -180deg );-ms-transform: rotate( -180deg );transform: rotate( -180deg );}.fl-node-5d826ff320ba5 .fl-menu-horizontal.fl-toggle-arrows .fl-has-submenu-container a{padding-right: 29px;}.fl-node-5d826ff320ba5 .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle,.fl-node-5d826ff320ba5 .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle{width: 29px;height: 29px;margin: -14.5px 0 0;}.fl-node-5d826ff320ba5 .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle,.fl-node-5d826ff320ba5 .fl-menu-horizontal.fl-toggle-none .fl-menu-toggle,.fl-node-5d826ff320ba5 .fl-menu-vertical.fl-toggle-arrows .fl-menu-toggle,.fl-node-5d826ff320ba5 .fl-menu-vertical.fl-toggle-none .fl-menu-toggle{width: 29px;height: 29px;margin: -14.5px 0 0;}.fl-node-5d826ff320ba5 .fl-menu li{border-top: 1px solid transparent;}.fl-node-5d826ff320ba5 .fl-menu li:first-child{border-top: none;}@media ( max-width: 1181px ) {.fl-menu-horizontal {text-align: left;}.fl-node-5d826ff320ba5 .fl-menu .sub-menu {background-color: transparent;-webkit-box-shadow: none;-ms-box-shadow: none;box-shadow: none;}.fl-node-5d826ff320ba5 .mega-menu.fl-active .hide-heading > .sub-menu,.fl-node-5d826ff320ba5 .mega-menu-disabled.fl-active .hide-heading > .sub-menu {display: block !important;}} @media ( min-width: 769px ) {.fl-node-5d826ff320ba5 .fl-menu .menu > li{ display: inline-block; }.fl-node-5d826ff320ba5 .menu li{border-left: 1px solid transparent;border-top: none;}.fl-node-5d826ff320ba5 .menu li:first-child{border: none;}.fl-node-5d826ff320ba5 .menu li li{border-top: 1px solid transparent;border-left: none;}.fl-node-5d826ff320ba5 .menu .fl-has-submenu .sub-menu{position: absolute;top: 100%;left: 0;z-index: 10;visibility: hidden;opacity: 0;text-align:left;}.fl-node-5d826ff320ba5 .fl-has-submenu .fl-has-submenu .sub-menu{top: 0;left: 100%;}.fl-node-5d826ff320ba5 .fl-menu .fl-has-submenu:hover > .sub-menu,.fl-node-5d826ff320ba5 .fl-menu .fl-has-submenu.focus > .sub-menu{display: block;visibility: visible;opacity: 1;}.fl-node-5d826ff320ba5 .menu .fl-has-submenu.fl-menu-submenu-right .sub-menu{left: inherit;right: 0;}.fl-node-5d826ff320ba5 .menu .fl-has-submenu .fl-has-submenu.fl-menu-submenu-right .sub-menu{top: 0;left: inherit;right: 100%;}.fl-node-5d826ff320ba5 .fl-menu .fl-has-submenu.fl-active > .fl-has-submenu-container .fl-menu-toggle{-webkit-transform: none;-ms-transform: none;transform: none;}.fl-node-5d826ff320ba5 .fl-menu .fl-has-submenu .fl-has-submenu .fl-menu-toggle:before{-webkit-transform: translateY( -5px ) rotate( -45deg );-ms-transform: translateY( -5px ) rotate( -45deg );transform: translateY( -5px ) rotate( -45deg );}.fl-node-5d826ff320ba5 ul.sub-menu {padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;}.fl-node-5d826ff320ba5 ul.sub-menu a {}}.fl-node-5d826ff320ba5 ul.fl-menu-horizontal li.mega-menu > ul.sub-menu > li > .fl-has-submenu-container a:hover {color: #22223b;}.fl-node-5d826ff320ba5 .fl-menu .menu, .fl-node-5d826ff320ba5 .fl-menu .menu > li {font-weight: 500;font-size: 14px;letter-spacing: 0.3px;text-transform: uppercase;}.fl-node-5d826ff320ba5 .fl-menu {text-align: right;}.fl-node-5d826ff320ba5 .fl-menu .menu {float: right;}@media(max-width: 1181px) {.fl-node-5d826ff320ba5 .fl-menu .menu {float: none;display: inline-block;vertical-align: top;}}@media(max-width: 1181px) {.fl-node-5d826ff320ba5 .fl-menu .menu {float: none;display: inline-block;vertical-align: top;}}@media(max-width: 1181px) {.fl-builder-content .fl-node-5fe345a14e350 .fl-rich-text, .fl-builder-content .fl-node-5fe345a14e350 .fl-rich-text * {text-align: right;}}.uabb-imgicon-wrap .uabb-image {line-height: 0;position: relative;}.uabb-imgicon-wrap .uabb-image-align-left {text-align: left;}.uabb-imgicon-wrap .uabb-image-align-center {text-align: center;}.uabb-imgicon-wrap .uabb-image-align-right {text-align: right;}.uabb-imgicon-wrap .uabb-image-content {border-radius: 0;display: inline-block;line-height: 0;position: relative;max-width: 100%;overflow: hidden;}.uabb-imgicon-wrap .uabb-image-content img {display: inline;height: auto !important;max-width: 100%;width: auto;border-radius: inherit;}.fl-builder-content .uabb-imgicon-wrap .uabb-image-content img {box-sizing: border-box;}.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}.fl-node-5d839bba0298e .uabb-imgicon-wrap {text-align: center;}.fl-node-5d839bba0298e .uabb-icon-wrap .uabb-icon i,.fl-node-5d839bba0298e .uabb-icon-wrap .uabb-icon i:before {color: #4a4e69;font-size: 30px;height: auto;width: auto;line-height: 30px;height: 30px;width: 30px;text-align: center;}.fl-node-5d839bba0298e .uabb-icon-wrap .uabb-icon i:before {background: none;}.fl-node-5d839bba0298e .uabb-icon-wrap .uabb-icon i:hover,.fl-node-5d839bba0298e .uabb-icon-wrap .uabb-icon i:hover:before {color: ;}.fl-node-5d839bba0298e .uabb-icon-wrap .uabb-icon i:hover:before {background: none;}@media ( max-width: 1181px ) {.fl-node-5d839bba0298e .uabb-imgicon-wrap {text-align: ;}}@media ( max-width: 1181px ) {.fl-node-5d839bba0298e .uabb-imgicon-wrap {text-align: ;}} .fl-node-5d839bba0298e > .fl-module-content {margin-top:11px;margin-right:0px;margin-bottom:0px;margin-left:0px;} .fl-node-5d946a394f04c > .fl-module-content {margin-top:0px;margin-right:0px;margin-bottom:0px;margin-left:0px;}.fl-col-group-equal-height.fl-col-group-align-bottom .fl-col-content {-webkit-justify-content: flex-end;justify-content: flex-end;-webkit-box-align: end; -webkit-box-pack: end;-ms-flex-pack: end;}.uabb-module-content h1,.uabb-module-content h2,.uabb-module-content h3,.uabb-module-content h4,.uabb-module-content h5,.uabb-module-content h6 {margin: 0;clear: both;}.fl-module-content a,.fl-module-content a:hover,.fl-module-content a:focus {text-decoration: none;}.uabb-row-separator {position: absolute;width: 100%;left: 0;}.uabb-top-row-separator {top: 0;bottom: auto}.uabb-bottom-row-separator {top: auto;bottom: 0;}.fl-builder-content-editing .fl-visible-medium.uabb-row,.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,.fl-builder-content-editing .fl-visible-mobile.uabb-row {display: none !important;}@media (max-width: 1181px) {.fl-builder-content-editing .fl-visible-desktop.uabb-row,.fl-builder-content-editing .fl-visible-mobile.uabb-row {display: none !important;}.fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,.fl-builder-content-editing .fl-visible-medium.uabb-row,.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row {display: block !important;}}@media (max-width: 1181px) {.fl-builder-content-editing .fl-visible-desktop.uabb-row,.fl-builder-content-editing .fl-visible-desktop-medium.uabb-row,.fl-builder-content-editing .fl-visible-medium.uabb-row {display: none !important;}.fl-builder-content-editing .fl-visible-medium-mobile.uabb-row,.fl-builder-content-editing .fl-visible-mobile.uabb-row {display: block !important;}}.fl-responsive-preview-content .fl-builder-content-editing {overflow-x: hidden;overflow-y: visible;}.uabb-row-separator svg {width: 100%;}.uabb-top-row-separator.uabb-has-svg svg {position: absolute;padding: 0;margin: 0;left: 50%;top: -1px;bottom: auto;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}.uabb-bottom-row-separator.uabb-has-svg svg {position: absolute;padding: 0;margin: 0;left: 50%;bottom: -1px;top: auto;-webkit-transform: translateX(-50%);-ms-transform: translateX(-50%);transform: translateX(-50%);}.uabb-bottom-row-separator.uabb-has-svg .uasvg-wave-separator {bottom: 0;}.uabb-top-row-separator.uabb-has-svg .uasvg-wave-separator {top: 0;}.uabb-bottom-row-separator.uabb-svg-triangle svg,.uabb-bottom-row-separator.uabb-xlarge-triangle svg,.uabb-top-row-separator.uabb-xlarge-triangle-left svg,.uabb-bottom-row-separator.uabb-svg-circle svg,.uabb-top-row-separator.uabb-slime-separator svg,.uabb-top-row-separator.uabb-grass-separator svg,.uabb-top-row-separator.uabb-grass-bend-separator svg,.uabb-bottom-row-separator.uabb-mul-triangles-separator svg,.uabb-top-row-separator.uabb-wave-slide-separator svg,.uabb-top-row-separator.uabb-pine-tree-separator svg,.uabb-top-row-separator.uabb-pine-tree-bend-separator svg,.uabb-bottom-row-separator.uabb-stamp-separator svg,.uabb-bottom-row-separator.uabb-xlarge-circle svg,.uabb-top-row-separator.uabb-wave-separator svg{left: 50%;-webkit-transform: translateX(-50%) scaleY(-1); -moz-transform: translateX(-50%) scaleY(-1);-ms-transform: translateX(-50%) scaleY(-1); -o-transform: translateX(-50%) scaleY(-1);transform: translateX(-50%) scaleY(-1);}.uabb-bottom-row-separator.uabb-big-triangle svg {left: 50%;-webkit-transform: scale(1) scaleY(-1) translateX(-50%); -moz-transform: scale(1) scaleY(-1) translateX(-50%);-ms-transform: scale(1) scaleY(-1) translateX(-50%); -o-transform: scale(1) scaleY(-1) translateX(-50%);transform: scale(1) scaleY(-1) translateX(-50%);}.uabb-top-row-separator.uabb-big-triangle svg {left: 50%;-webkit-transform: translateX(-50%) scale(1); -moz-transform: translateX(-50%) scale(1);-ms-transform: translateX(-50%) scale(1); -o-transform: translateX(-50%) scale(1);transform: translateX(-50%) scale(1);}.uabb-top-row-separator.uabb-xlarge-triangle-right svg {left: 50%;-webkit-transform: translateX(-50%) scale(-1); -moz-transform: translateX(-50%) scale(-1);-ms-transform: translateX(-50%) scale(-1); -o-transform: translateX(-50%) scale(-1);transform: translateX(-50%) scale(-1);}.uabb-bottom-row-separator.uabb-xlarge-triangle-right svg {left: 50%;-webkit-transform: translateX(-50%) scaleX(-1); -moz-transform: translateX(-50%) scaleX(-1);-ms-transform: translateX(-50%) scaleX(-1); -o-transform: translateX(-50%) scaleX(-1);transform: translateX(-50%) scaleX(-1);}.uabb-top-row-separator.uabb-curve-up-separator svg {left: 50%; -webkit-transform: translateX(-50%) scaleY(-1); -moz-transform: translateX(-50%) scaleY(-1);-ms-transform: translateX(-50%) scaleY(-1); -o-transform: translateX(-50%) scaleY(-1);transform: translateX(-50%) scaleY(-1);}.uabb-top-row-separator.uabb-curve-down-separator svg {left: 50%;-webkit-transform: translateX(-50%) scale(-1); -moz-transform: translateX(-50%) scale(-1);-ms-transform: translateX(-50%) scale(-1); -o-transform: translateX(-50%) scale(-1);transform: translateX(-50%) scale(-1);}.uabb-bottom-row-separator.uabb-curve-down-separator svg {left: 50%;-webkit-transform: translateX(-50%) scaleX(-1); -moz-transform: translateX(-50%) scaleX(-1);-ms-transform: translateX(-50%) scaleX(-1); -o-transform: translateX(-50%) scaleX(-1);transform: translateX(-50%) scaleX(-1);}.uabb-top-row-separator.uabb-tilt-left-separator svg {left: 50%;-webkit-transform: translateX(-50%) scale(-1); -moz-transform: translateX(-50%) scale(-1);-ms-transform: translateX(-50%) scale(-1); -o-transform: translateX(-50%) scale(-1);transform: translateX(-50%) scale(-1);}.uabb-top-row-separator.uabb-tilt-right-separator svg{left: 50%;-webkit-transform: translateX(-50%) scaleY(-1); -moz-transform: translateX(-50%) scaleY(-1);-ms-transform: translateX(-50%) scaleY(-1); -o-transform: translateX(-50%) scaleY(-1);transform: translateX(-50%) scaleY(-1);}.uabb-bottom-row-separator.uabb-tilt-left-separator svg {left: 50%;-webkit-transform: translateX(-50%); -moz-transform: translateX(-50%);-ms-transform: translateX(-50%); -o-transform: translateX(-50%);transform: translateX(-50%);}.uabb-bottom-row-separator.uabb-tilt-right-separator svg {left: 50%;-webkit-transform: translateX(-50%) scaleX(-1); -moz-transform: translateX(-50%) scaleX(-1);-ms-transform: translateX(-50%) scaleX(-1); -o-transform: translateX(-50%) scaleX(-1);transform: translateX(-50%) scaleX(-1);}.uabb-top-row-separator.uabb-tilt-left-separator,.uabb-top-row-separator.uabb-tilt-right-separator {top: 0;}.uabb-bottom-row-separator.uabb-tilt-left-separator,.uabb-bottom-row-separator.uabb-tilt-right-separator {bottom: 0;}.uabb-top-row-separator.uabb-arrow-outward-separator svg,.uabb-top-row-separator.uabb-arrow-inward-separator svg,.uabb-top-row-separator.uabb-cloud-separator svg,.uabb-top-row-separator.uabb-multi-triangle svg {left: 50%;-webkit-transform: translateX(-50%) scaleY(-1); -moz-transform: translateX(-50%) scaleY(-1);-ms-transform: translateX(-50%) scaleY(-1); -o-transform: translateX(-50%) scaleY(-1);transform: translateX(-50%) scaleY(-1);}.uabb-bottom-row-separator.uabb-multi-triangle svg {bottom: -2px;}.uabb-row-separator.uabb-round-split:after,.uabb-row-separator.uabb-round-split:before {left: 0;width: 50%;background: inherit inherit/inherit inherit inherit inherit;content: '';position: absolute}.uabb-button-wrap a,.uabb-button-wrap a:visited {display: inline-block;font-size: 16px;line-height: 18px;text-decoration: none;text-shadow: none;}.uabb-button-wrap a *,.uabb-button-wrap a:visited * {}.fl-builder-content .uabb-button:hover {text-decoration: none;}.fl-builder-content .uabb-button-width-full .uabb-button {display: block;text-align: center;}.uabb-button-width-custom .uabb-button {display: inline-block;text-align: center;max-width: 100%;}.fl-builder-content .uabb-button-left {text-align: left;}.fl-builder-content .uabb-button-center {text-align: center;}.fl-builder-content .uabb-button-right {text-align: right;}.fl-builder-content .uabb-button i,.fl-builder-content .uabb-button i:before {font-size: 1em;height: 1em;line-height: 1em;width: 1em;}.uabb-button .uabb-button-icon-after {margin-left: 8px;margin-right: 0;}.uabb-button .uabb-button-icon-before {margin-left: 0;margin-right: 8px;}.uabb-button .uabb-button-icon-no-text {margin: 0;}.uabb-button-has-icon .uabb-button-text {vertical-align: middle;}.uabb-icon-wrap {display: inline-block;}.uabb-icon a {text-decoration: none;}.uabb-icon i {display: block;}.uabb-icon i:before {border: none !important;background: none !important;}.uabb-icon-text {display: table-cell;text-align: left;padding-left: 15px;vertical-align: middle;}.uabb-icon-text *:last-child {margin: 0 !important;padding: 0 !important;}.uabb-icon-text a {text-decoration: none;}.uabb-photo {line-height: 0;position: relative;z-index: 2;}.uabb-photo-align-left {text-align: left;}.uabb-photo-align-center {text-align: center;}.uabb-photo-align-right {text-align: right;}.uabb-photo-content {border-radius: 0;display: inline-block;line-height: 0;position: relative;max-width: 100%;overflow: hidden;}.uabb-photo-content img {border-radius: inherit;display: inline;height: auto;max-width: 100%;width: auto;}.fl-builder-content .uabb-photo-crop-circle img {-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}.fl-builder-content .uabb-photo-crop-square img {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}.uabb-photo-caption {font-size: 13px;line-height: 18px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}.uabb-photo-caption-below {padding-bottom: 20px;padding-top: 10px;}.uabb-photo-caption-hover {background: rgba(0,0,0,0.7);bottom: 0;color: #fff;left: 0;opacity: 0;visibility: hidden;filter: alpha(opacity = 0);padding: 10px 15px;position: absolute;right: 0;-webkit-transition:visibility 200ms linear;-moz-transition:visibility 200ms linear;transition:visibility 200ms linear;}.uabb-photo-content:hover .uabb-photo-caption-hover {opacity: 100;visibility: visible;}.uabb-active-btn {background: #1e8cbe;border-color: #0074a2;-webkit-box-shadow: inset 0 1px 0 rgba(120,200,230,.6);box-shadow: inset 0 1px 0 rgba(120,200,230,.6);color: white;}.fl-builder-bar .fl-builder-add-content-button {display: block !important;opacity: 1 !important;}.uabb-imgicon-wrap .uabb-icon {display: block;}.uabb-imgicon-wrap .uabb-icon i{float: none;}.uabb-imgicon-wrap .uabb-image {line-height: 0;position: relative;}.uabb-imgicon-wrap .uabb-image-align-left {text-align: left;}.uabb-imgicon-wrap .uabb-image-align-center {text-align: center;}.uabb-imgicon-wrap .uabb-image-align-right {text-align: right;}.uabb-imgicon-wrap .uabb-image-content {display: inline-block;border-radius: 0;line-height: 0;position: relative;max-width: 100%;}.uabb-imgicon-wrap .uabb-image-content img {display: inline;height: auto !important;max-width: 100%;width: auto;border-radius: inherit;box-shadow: none;box-sizing: content-box;}.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-circle img {-webkit-border-radius: 100%;-moz-border-radius: 100%;border-radius: 100%;}.fl-builder-content .uabb-imgicon-wrap .uabb-image-crop-square img {-webkit-border-radius: 0;-moz-border-radius: 0;border-radius: 0;}.uabb-creative-button-wrap a,.uabb-creative-button-wrap a:visited {background: #fafafa;border: 1px solid #ccc;color: #333;display: inline-block;vertical-align: middle;text-align: center;overflow: hidden;text-decoration: none;text-shadow: none;box-shadow: none;position: relative;-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear;-ms-transition: all 200ms linear; -o-transition: all 200ms linear;transition: all 200ms linear;}.uabb-creative-button-wrap a:focus {text-decoration: none;text-shadow: none;box-shadow: none;}.uabb-creative-button-wrap a .uabb-creative-button-text,.uabb-creative-button-wrap a .uabb-creative-button-icon,.uabb-creative-button-wrap a:visited .uabb-creative-button-text,.uabb-creative-button-wrap a:visited .uabb-creative-button-icon {-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear;-ms-transition: all 200ms linear; -o-transition: all 200ms linear;transition: all 200ms linear;}.uabb-creative-button-wrap a:hover {text-decoration: none;}.uabb-creative-button-wrap .uabb-creative-button-width-full .uabb-creative-button {display: block;text-align: center;}.uabb-creative-button-wrap .uabb-creative-button-width-custom .uabb-creative-button {display: inline-block;text-align: center;max-width: 100%;}.uabb-creative-button-wrap .uabb-creative-button-left {text-align: left;}.uabb-creative-button-wrap .uabb-creative-button-center {text-align: center;}.uabb-creative-button-wrap .uabb-creative-button-right {text-align: right;}.uabb-creative-button-wrap .uabb-creative-button i {font-size: 1.3em;height: auto;vertical-align: middle;width: auto;}.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-after {margin-left: 8px;margin-right: 0;}.uabb-creative-button-wrap .uabb-creative-button .uabb-creative-button-icon-before {margin-right: 8px;margin-left: 0;}.uabb-creative-button-wrap.uabb-creative-button-icon-no-text .uabb-creative-button i {margin: 0;}.uabb-creative-button-wrap .uabb-creative-button-has-icon .uabb-creative-button-text {vertical-align: middle;}.uabb-creative-button-wrap a,.uabb-creative-button-wrap a:visited {padding: 12px 24px;}.uabb-creative-button.uabb-creative-transparent-btn {background: transparent;}.uabb-creative-button.uabb-creative-transparent-btn:after {content: '';position: absolute;z-index: 1;-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear;-ms-transition: all 200ms linear; -o-transition: all 200ms linear;transition: all 200ms linear;}.uabb-transparent-fill-top-btn:after,.uabb-transparent-fill-bottom-btn:after {width: 100%;height: 0;left: 0;}.uabb-transparent-fill-top-btn:after {top: 0;}.uabb-transparent-fill-bottom-btn:after {bottom: 0;}.uabb-transparent-fill-left-btn:after,.uabb-transparent-fill-right-btn:after {width: 0;height: 100%;top: 0;}.uabb-transparent-fill-left-btn:after {left: 0;}.uabb-transparent-fill-right-btn:after {right: 0;}.uabb-transparent-fill-center-btn:after{width: 0;height: 100%;top: 50%;left: 50%;-webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}.uabb-transparent-fill-diagonal-btn:after,.uabb-transparent-fill-horizontal-btn:after {width: 100%;height: 0;top: 50%;left: 50%;}.uabb-transparent-fill-diagonal-btn{overflow: hidden;}.uabb-transparent-fill-diagonal-btn:after{-webkit-transform: translateX(-50%) translateY(-50%) rotate( 45deg ); -moz-transform: translateX(-50%) translateY(-50%) rotate( 45deg );-ms-transform: translateX(-50%) translateY(-50%) rotate( 45deg ); -o-transform: translateX(-50%) translateY(-50%) rotate( 45deg );transform: translateX(-50%) translateY(-50%) rotate( 45deg );}.uabb-transparent-fill-horizontal-btn:after{-webkit-transform: translateX(-50%) translateY(-50%); -moz-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%); -o-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_down-btn,.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_up-btn,.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_left-btn,.uabb-creative-button-wrap .uabb-creative-threed-btn.uabb-threed_right-btn {-webkit-transition: none; -moz-transition: none;-ms-transition: none; -o-transition: none;transition: none;}.perspective {-webkit-perspective: 800px; -moz-perspective: 800px;perspective: 800px;margin: 0;}.uabb-creative-button.uabb-creative-threed-btn:after {content: '';position: absolute;z-index: -1;-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear;transition: all 200ms linear;}.uabb-creative-button.uabb-creative-threed-btn {outline: 1px solid transparent;-webkit-transform-style: preserve-3d; -moz-transform-style: preserve-3d;transform-style: preserve-3d;}.uabb-creative-threed-btn.uabb-animate_top-btn:after {height: 40%;left: 0;top: -40%;width: 100%;-webkit-transform-origin: 0% 100%; -moz-transform-origin: 0% 100%;transform-origin: 0% 100%;-webkit-transform: rotateX(90deg); -moz-transform: rotateX(90deg);transform: rotateX(90deg);}.uabb-creative-threed-btn.uabb-animate_bottom-btn:after {width: 100%;height: 40%;left: 0;top: 100%;-webkit-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;transform-origin: 0% 0%;-webkit-transform: rotateX(-90deg); -moz-transform: rotateX(-90deg);-ms-transform: rotateX(-90deg);transform: rotateX(-90deg);}.uabb-creative-threed-btn.uabb-animate_left-btn:after {width: 20%;height: 100%;left: -20%;top: 0;-webkit-transform-origin: 100% 0%; -moz-transform-origin: 100% 0%;-ms-transform-origin: 100% 0%;transform-origin: 100% 0%;-webkit-transform: rotateY(-60deg); -moz-transform: rotateY(-60deg);-ms-transform: rotateY(-60deg);transform: rotateY(-60deg);}.uabb-creative-threed-btn.uabb-animate_right-btn:after {width: 20%;height: 100%;left: 104%;top: 0;-webkit-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%;-ms-transform-origin: 0% 0%;transform-origin: 0% 0%;-webkit-transform: rotateY(120deg); -moz-transform: rotateY(120deg);-ms-transform: rotateY(120deg);transform: rotateY(120deg);}.uabb-animate_top-btn:hover{-webkit-transform: rotateX(-15deg); -moz-transform: rotateX(-15deg);-ms-transform: rotateX(-15deg); -o-transform: rotateX(-15deg);transform: rotateX(-15deg);}.uabb-animate_bottom-btn:hover{-webkit-transform: rotateX(15deg); -moz-transform: rotateX(15deg);-ms-transform: rotateX(15deg); -o-transform: rotateX(15deg);transform: rotateX(15deg);}.uabb-animate_left-btn:hover{-webkit-transform: rotateY(6deg); -moz-transform: rotateY(6deg);-ms-transform: rotateY(6deg); -o-transform: rotateY(6deg);transform: rotateY(6deg);}.uabb-animate_right-btn:hover{-webkit-transform: rotateY(-6deg); -moz-transform: rotateY(-6deg);-ms-transform: rotateY(-6deg); -o-transform: rotateY(-6deg);transform: rotateY(-6deg);}.uabb-creative-flat-btn.uabb-animate_to_right-btn,.uabb-creative-flat-btn.uabb-animate_to_left-btn,.uabb-creative-flat-btn.uabb-animate_from_top-btn,.uabb-creative-flat-btn.uabb-animate_from_bottom-btn {overflow: hidden;position: relative;}.uabb-creative-flat-btn.uabb-animate_to_right-btn i,.uabb-creative-flat-btn.uabb-animate_to_left-btn i,.uabb-creative-flat-btn.uabb-animate_from_top-btn i,.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {bottom: 0;height: 100%;margin: 0;opacity: 1;position: absolute;right: 0;width: 100%;-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear;transition: all 200ms linear;-webkit-transform: translateY(0); -moz-transform: translateY(0); -o-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0);}.uabb-creative-flat-btn.uabb-animate_to_right-btn .uabb-button-text,.uabb-creative-flat-btn.uabb-animate_to_left-btn .uabb-button-text,.uabb-creative-flat-btn.uabb-animate_from_top-btn .uabb-button-text,.uabb-creative-flat-btn.uabb-animate_from_bottom-btn .uabb-button-text {display: inline-block;width: 100%;height: 100%;-webkit-transition: all 200ms linear; -moz-transition: all 200ms linear;-ms-transition: all 200ms linear; -o-transition: all 200ms linear;transition: all 200ms linear;-webkit-backface-visibility: hidden; -moz-backface-visibility: hidden;backface-visibility: hidden;}.uabb-creative-flat-btn.uabb-animate_to_right-btn i:before,.uabb-creative-flat-btn.uabb-animate_to_left-btn i:before,.uabb-creative-flat-btn.uabb-animate_from_top-btn i:before,.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i:before {position: absolute;top: 50%;left: 50%;-webkit-transform: translateX(-50%) translateY(-50%);-moz-transform: translateX(-50%) translateY(-50%);-o-transform: translateX(-50%) translateY(-50%);-ms-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);}.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover i,.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover i {left: 0;}.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover i,.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover i {top: 0;}.uabb-creative-flat-btn.uabb-animate_to_right-btn i {top: 0;left: -100%;}.uabb-creative-flat-btn.uabb-animate_to_right-btn:hover .uabb-button-text {-webkit-transform: translateX(200%); -moz-transform: translateX(200%);-ms-transform: translateX(200%); -o-transform: translateX(200%);transform: translateX(200%);}.uabb-creative-flat-btn.uabb-animate_to_left-btn i {top: 0;left: 100%;}.uabb-creative-flat-btn.uabb-animate_to_left-btn:hover .uabb-button-text {-webkit-transform: translateX(-200%); -moz-transform: translateX(-200%);-ms-transform: translateX(-200%); -o-transform: translateX(-200%);transform: translateX(-200%);}.uabb-creative-flat-btn.uabb-animate_from_top-btn i {top: -100%;left: 0;}.uabb-creative-flat-btn.uabb-animate_from_top-btn:hover .uabb-button-text {-webkit-transform: translateY(400px); -moz-transform: translateY(400px);-ms-transform: translateY(400px); -o-transform: translateY(400px);transform: translateY(400px);}.uabb-creative-flat-btn.uabb-animate_from_bottom-btn i {top: 100%;left: 0;}.uabb-creative-flat-btn.uabb-animate_from_bottom-btn:hover .uabb-button-text {-webkit-transform: translateY(-400px); -moz-transform: translateY(-400px);-ms-transform: translateY(-400px); -o-transform: translateY(-400px);transform: translateY(-400px);}.uabb-tab-acc-content .wp-video, .uabb-tab-acc-content video.wp-video-shortcode, .uabb-tab-acc-content .mejs-container:not(.mejs-audio), .uabb-tab-acc-content .mejs-overlay.load,.uabb-adv-accordion-content .wp-video, .uabb-adv-accordion-content video.wp-video-shortcode, .uabb-adv-accordion-content .mejs-container:not(.mejs-audio), .uabb-adv-accordion-content .mejs-overlay.load {width: 100% !important;height: 100% !important;}.uabb-tab-acc-content .mejs-container:not(.mejs-audio),.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) {padding-top: 56.25%;}.uabb-tab-acc-content .wp-video, .uabb-tab-acc-content video.wp-video-shortcode,.uabb-adv-accordion-content .wp-video, .uabb-adv-accordion-content video.wp-video-shortcode {max-width: 100% !important;}.uabb-tab-acc-content video.wp-video-shortcode,.uabb-adv-accordion-content video.wp-video-shortcode {position: relative;}.uabb-tab-acc-content .mejs-container:not(.mejs-audio) .mejs-mediaelement,.uabb-adv-accordion-content .mejs-container:not(.mejs-audio) .mejs-mediaelement {position: absolute;top: 0;right: 0;bottom: 0;left: 0;}.uabb-tab-acc-content .mejs-overlay-play,.uabb-adv-accordion-content .mejs-overlay-play {top: 0;right: 0;bottom: 0;left: 0;width: auto !important;height: auto !important;}.fl-row-content-wrap .uabb-row-particles-background {width:100%;height:100%;position:absolute;left:0;top:0;}.uabb-col-particles-background {width:100%;height:100%;position:absolute;left:0;top:0;}.uabb-creative-button-wrap a,.uabb-creative-button-wrap a:visited {font-size: 14px;text-transform: none;}.uabb-dual-button .uabb-btn,.uabb-dual-button .uabb-btn:visited {font-size: 14px;text-transform: none;}.uabb-js-breakpoint {content:"default";display:none;}@media screen and (max-width: 1181px) {.uabb-js-breakpoint {content:"992";}}@media screen and (max-width: 1181px) {.uabb-js-breakpoint {content:"768";}}

.location-hover a:hover *{
    color: #4a4e69!important;
}
.responisveMenu .fl-rich-text > p:first-child{
	display: flex;
    align-items: center;
    justify-content: end;
    margin-top: -20px;
}
footer a:hover{
    text-decoration: underline!important;
}
button#rmp_menu_trigger-1116690 {
    text-align: center;
    border: 1px solid;
}

header .topBar ul a:hover,
header .topBar a:hover *{
	color:#000!important;
}


#rmp-search-box-1116690 .rmp-search-box{
	margin: 20px 0 !important;
}

.loca-1 .phone span,
.loca-2 .phone span{
	font-size: 13px !important;
    margin-top: -8px !important;
    display: block !important;
}
#menu-main_menu_header > li.current-menu-parent > div > a{
	border-bottom: 2px solid;
}
.featured-products .featured-product-list .featured-product-item .prod-img-wrap:hover .button-wrapper .viewproduct-btn:hover{
    color: #000!important;
}
.fl-slide {
	max-height: 800px;
}

#menu-main_menu_header > li > div > span.fl-menu-toggle{
	margin-top: -10px;
}
body .fl-menu .sub-menu{
    min-width: 240px;
    box-shadow: 0 1px 20px rgba(0,0,0,0.6)!important;
}
#menu-main_menu_header .fl-has-submenu ul.sub-menu li{
	border-bottom:1px solid #606060;
}
.location-symbol {
    margin-right: 10px;
}
.dir-btn .direction a{
	color: #000000 !important;
    border-style: solid !important;
    border-width: 0;
    background-clip: border-box !important;
    border-color: #000000 !important;
    border-bottom-width: 2px !important;
	background: transparent !important;
	text-align: left !important;
    padding: 0 3px 5px 3px !important;
    font-weight: 500 !important

}
.dir-btn .direction a span{
	color: #000000 !important;
}
.dir-btn .direction a:hover span{
	color: #4a4e69 !important;
}
.product-detail-layout-6 .product-colors ul li, .product-detail-layout-6 .product-colors ul li.found{
	margin-right:3px;
}

.none_h1{
    display: none!important;
}

a{
	outline: none!important;
}
.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #c9c1b4;
}

.headerMain .fl-col-group {
    display: flex;
    justify-content: space-between;
}

.fullWidthBanner img {
    width: 100%;
}

a.phone {
    font-weight: 400;
    color: #c6a337 !important;
}

.iscwp-gallery-slider .slick-dots li button {
    border: 1px solid #949494;
}

.iscwp-gallery-slider .slick-dots li.slick-active button {
    background: #949494;
}
.product-detail-layout-6 .dual-button a{
	text-transform:uppercase;
}

.headerMain .fl-col:not(.fl-visible-mobile) {
    flex: 2;
}

.headerMain .fl-col.headerLogo {
    flex: 1;
    margin-right: 20px;
}

.uabb-creative-menu ul#menu-main-menu li ul.sub-menu .uabb-has-submenu-container .uabb-menu-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    padding-left: 0;
}

.product-grid.swatch .fl-post-grid-post .fl-post-grid-text>a.fl-button {
    font-size: 13px;
    padding: 12px 14px;
}

.product-detail-layout-4 .button-wrapper,
.product-detail-layout-default .button-wrapper,
.product-detail-layout-5 .button-wrapper,
.button-wrapper a {
    text-align: center!important;
}

.product-detail-layout-4 .button-wrapper .button,
.product-detail-layout-default .button-wrapper .button,
.product-detail-layout-5 .button-wrapper .button {
    padding: 10px 20px;
}

.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 16px;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px!important;
}

.fl-builder-content .fl-node-5d827d8591da9 .sub-menu>li>a {
    padding-left: 15px;
    padding-right: 15px!important;
}

.ua-icon-Search {
    cursor: pointer;
}

.save-up-to-link.fl-module-rich-text .fl-module-content {
    margin-bottom: 0;
}

.style-product_list .pro-container .pro-details .button-wrapper a.button {
    padding: 14px 10px;
}
.slick-track{
	display: flex !important;
	align-items: center;
}

#menu-header .menu-item-has-children .sub-menu #menu-item-1000022 a span {}

#menu-header .menu-item-has-children .sub-menu #menu-item-1000022 a span:before {
    content: '\f0da';
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 5px;
}
.style-product_list .pro-container>.row{
    flex-direction: row;
}
.style-product_list .pro-container>.row>div{
    flex: 1;
}
.style-product_list .pro-container>.row>div.clearfix{
    flex: 0;
}
.fl-content-full{
    max-width: 100%;
    width: 100%;
}

/*.sitemap-listing .page-list ul{
    box-shadow: 0px 0px 10px #000;
    padding: 10px 10px 10px 45px;
}*/
.searchIcon .uabb-icon{
    cursor: pointer;
}


.storename li .phone a span:before{
    content: "\f095";
    font: normal normal normal 18px/1 FontAwesome;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}
.mobileNumber .storename li .phone a span:before{
	content: ''!important;
}
.phone-icon .storename li .phone a span:before{
	
    margin-right: 24px;
}

.navbar .nav .menu-item-has-children>a:after{
	content: ''!important;
}

header .message{
    padding-left: 15px;
}
header .storename .phone{
    padding-right: 15px;
}

.Header-issue .fl-col-content .fl-rich-text a:hover{
   color: #a89c6f !important;
}

.Header-issue .fl-col-content .fl-rich-text .storename li .phone a span:hover{
    color: #a89c6f !important;
}


.item-link{
    color: #f9f9f8 !important ;
}
.item-link:hover{
    color: #f9f9f8 !important ;
}

.button-wrapper-default a, .button-wrapper-default a.button {
    background-color: #4a4e69 !important;
    border-color: #4a4e69 !important;
    color: #fff !important;
}
.button-wrapper-default a, .button-wrapper-default a.button:hover{
    background-color: #22223b !important;
    border-color: #22223b !important;
    color: #fff !important;
}
.gform_wrapper li.hidden_label input {
    margin-top: 0px!important;
}


.facetwp-selections ul:before {
    content: "Your Selection";
    font-weight: 700;
    font-size: 16px; 
    border-bottom: 2px solid #4a4e69;
    padding: 0px;
    width: 100%!important;
    position: relative;
    display: block;
    margin-bottom: 5px;
    color: #4a4e69;
    padding: 5px 5px 5px 0px;
}
.facetwp-selections ul li .facetwp-selection-label{
    font-size: 16px;
    font-weight: 700;
}

.facetwp-selections  ul {
    background-color: #eeee;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.facet_wrap button,
.page-info .pagination_wrapper>div button, 
div#mm-product-list .facet_wrap button, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button,
div#mm-product-details .product-detail-layout-6 .button-wrapper a, 
.row.search-row .posts_search_result .product-item a.fl-button, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button {
    background: #22223b!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}

.facet_wrap button:hover,
.page-info .pagination_wrapper>div button:hover, 
div#mm-product-list .facet_wrap button:hover, 
.products-list .product-plp-grid.product-grid.swatch.facetwp-template1 .fl-button:hover,
div#mm-product-details .product-detail-layout-6 .button-wrapper a:hover, 
.row.search-row .posts_search_result .product-item a.fl-button:hover, 
div#search-result-page .product-plp-grid  .product-item .fl-post-grid-post .fl-post-grid-text .fl-button:hover {
    background: #4a4e69!important;
    color: #fff!important;
    border: none;
    text-transform: uppercase!important;
}
a.linkcustompdpbtnlink.d-block {
    margin-top: 20px;
}

@media (min-width: 1181px){
	.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a {
    color: #455661 !important;
}
}

@media(max-width:1280px) {
    #djcustom-header #menu-main-menu li.menu-item a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .style-product_list .pro-container .pro-details .button-wrapper {
        display: block;
    }
}

@media(max-width:1199px) {
    /*header .menu{
        display: none!important;
    }*/
    .headerMain .fl-col.headerLogo,
    .headerMain .fl-col.headerRightNav {
        flex: auto;
        position: relative;
    }
    .fl-node-5d827d8c4b8bd > .fl-col-content {
        padding-left: 0px!important;
    }
    .headerMain .fl-col.headerLogo .fl-photo-align-left,
    .headerMain .fl-col.headerRightNav .menu {}
    .fl-node-5d826ff320ba5>.fl-module-content {
        margin: 20px 0px;
    }
    .fl-node-5d826ff320ba5 .menu a {
        font-size: 12px;
    }
    .fl-node-5d827d8591da9 .fl-menu-horizontal.fl-toggle-arrows .fl-has-submenu-container a {
        padding-right: 24px!important;
    }
    .fl-node-5d827d8591da9 .fl-menu-horizontal.fl-toggle-arrows .fl-menu-toggle {
        width: 24px!important;
    }
}

@media(max-width:1181px) {
	
	.product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child,
	.product-detail-layout-6 .product-box .row:first-child .col-md-6:nth-child(2){
		width: 100% !important;
		text-align: center !important;
	}
	.tablet20{
		width: 20%!important;
	}
	.tablet60{
		width: 60%!important;
	}
    .fl-node-5d08ac826d1d6 .uabb-creative-menu .menu>li {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    .coupon-image .fl-module-content {
        margin: 0 20px;
    }
    .headerMain .headerRightNav {
        margin-left: 30px;
    }
    .fl-node-5d08ac826d1d6 .uabb-creative-menu.uabb-menu-default .menu>li>.uabb-has-submenu-container>a {
        padding: 10px 8px !important;
    }
    .coretec-sec .fl-module-rich-text .fl-rich-text * {
        font-size: 22px !important;
    }
    div.fl-builder-content .fl-row-content-wrap .coretec-sec .fl-col-content {
        min-height: 350px !important;
    }
    ul#menu-main-menu li {
        padding: 0 15px !important;
    }
    ul#menu-main-menu li .fl-has-submenu-container .fl-menu-toggle:before {
        margin: -5px -35px 0 0 !important;
    }
}

@media(max-width:1181px) {
    .headerMain .fl-col.navMobile .fl-rich-text>p {
        text-align: right;
    }
    .searchIcon {
        position: static;
    }
    .fl-module-photo-gallery .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 50% !important;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height {
        padding: 10px 15px;
        display: flex !important;
        align-items: center;
    }
    .headerMain p {
        margin-bottom: 0;
    }
    button#responsive-menu-button {
        top: 0 !important;
        right: 0 !important;
        text-align: center;
    }
    .navMobile .fl-module>.fl-module-content {
        margin-right: 0 !important;
    }
    .headerMain .headerRightNav {
        margin: 0;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col {
        flex: 1;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo {
        flex: 2 !important;
        margin-right: 0 !important;
    }
    .headerMain .phone.retailer {
        font-size: 26px;
        color: #42291d;
        margin-right: 30px;
        vertical-align: middle;
        font-family: 'Ultimate-Icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .headerMain .phone.retailer:before {
        content: "\ea3e";
    }
    .headerMain .phone.retailer span {
        font-size: 0;
    }
    /* .style-product_list .pro-container .pro-details .button-wrapper {
        display: flex;
    } */
}

@media(max-width:1181px){
	/ Slider height issue on mobile open /

    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
   .fl-content-slider .fl-slide-bg-link{
        z-index: 2;
    }
	.fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
		padding: 0px !important;
	}
	
	.fl-content-slider .fl-slide-bg-photo {
    position: absolute !important;
}
   / Slider height issue on mobile closed /
}

.facet_filters .facet-wrap>strong {
    border-color: #4a4e69 !important;
    color: #4a4e69 !important;
}

@media(max-width:1181px) and (min-width:767px) {
    .flexViewIpad .fl-col-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

@media(max-width:1181px) {
.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third) {
    padding-right: 0px;
}
	.open_sidebar{
    display: block;
    width: 200px;
    margin: 0 auto;
}
#responsive-menu-container .responsive-menu-search-box{
    text-align: left!important;
}
	#responsive-menu-additional-content {
		padding-top: 10px!important;
    }
    .float-none{
        float: none !important;
    }
    .max-width-issue{
        max-width: 450px !important;
        margin: 0 auto !important;
    }
	#responsive-menu-additional-content .storename .phone{
		text-align: left!important;	
	}
	#responsive-menu-additional-content .storename .phone a{
		color: #fff!important;	
	}
	#responsive-menu-additional-content .storename .phone a span:before{
		margin-right: 4px!important;
		
	}
    .style-list button.back-button{
        z-index: 25;
    }
    ul#responsive-menu * {
        text-align: left;
    }
    .style-list button.back-button {
        bottom: 100%;
        left: 0;
        top: 10px;
        font-size: 18px !important;
    }
	.gfield_checkbox label{
		font-size: 13px!important;
	}
	
    #field_19_8,
    #field_19_1,
    #field_22_3,
    #field_22_9,
    #field_22_10,
    #field_22_2,
	#field_19_2,
	#field_19_5,
    #field_19_10,
    #field_23_3,
    #field_23_4,
    #field_23_9,
    #field_23_10{
        padding-right: 0;
    }
    /* .responsive-menu-open .fl-builder-mobile header:before {
            content: '';
            position: fixed;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: #ffffff63;
            z-index: 99;
        } */
    .iPadFooter .fl-col-group,
    .fl-col-group.fl-col-group-equal-height {
        display: flex !important;
    }
    .homePageCoreTec .fl-col-group {
        justify-content: center;
    }
    /* .uabb-photo .uabb-photo-content  img.uabb-photo-img {
        width: 360px !important;
    } */
    .iPadFooter .fl-col-group .fl-col {
        flex: 1;
    }
    .headerMain .fl-col.headerLogo {
        margin-right: 0;
    }
    /* .fl-builder-content-primary .fl-row-full-width .fl-row-content-wrap .fl-col-group .fl-col{
        margin: 0px !important;
        float: left !important;
        clear: unset !important;
    } */
    .fl-node-5d827d8591da9 ul.sub-menu a {
        padding-left: 0px!important;
    }
    ul#menu-copyright-bar-menu {
        display: flex;
        justify-content: center;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col {
        flex: 3;
    }
    .iPadFooter .fl-node-5c6fdfb622743.fl-col-group .fl-col:nth-child(2) {
        flex: 1;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 33.33%;
    }
    .galleryImages .uabb-photo-gallery {
        display: flex;
        flex-wrap: wrap;
    }
    .djcustom-header .fl-row-content-wrap .fl-col-group-custom-width .fl-col {
        width: 50% !important;
    }
    #menu-flooring-menu,
    #menu-inspiration-menu,
    #menu-about-us {
        text-align: left;
    }
    .headerMain .fl-col-group {
        align-items: center;
    }
    .footerLinks .fl-col-group {
        display: flex;
        flex-wrap: wrap;
    }
    .footerCopyright .fl-col-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0;
    }
    .mobileHeaderIcons .fl-col-content.fl-node-content {
        display: flex;
        flex-direction: row;
    }
    .lastColumn .fl-col-content,
    .lastColumn {
        max-width: 100% !important;
        width: 100% !important;
    }
    .lastColumn .fl-col-content {
        display: flex;
        flex-direction: row;
    }
    .homeCategories .fl-col-group.fl-node-5d01389b6c032 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homeSlider .fl-col-group.fl-node-5c75183d301f3 {
        display: flex;
        justify-content: center;
    }
    .footerCopyright ul.social-icons li {
        margin: 0 5px;
    }

    .footerLinks .fl-col-group-custom-width div.fl-col-small{
        width: 49% !important;
        max-width: none;
        float: left;
    }

    .four-box-gaurantee .fl-col-group .fl-col-small{
        width: 49% !important;
        max-width: none;
        display: inline-block;
    }
/*     .fl-col-small:not(.fl-col-small-full-width){
        max-width: 450px;
    } */
    /* .mobileHeader .menu-wrap-mobile .is-active{
        position: fixed;
        top: 70px!important;
        right: 16%!important;
        transform: none!important;
    } */
    #responsive-menu-container #responsive-menu li#responsive-menu-item-1006325 a{
        padding: 0 5% 0 15%!important;
    	font-size: 14px;
    }
      /* Slider height issue on mobile open */

      .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row > .fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo > img{
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
   /* Slider height issue on mobile closed */
}

@media(max-width:767px) {
    .fl-html .featured-products .featured-product-list .featured-product-item{
        width: 50%;
    }
    .logo-image-wrap .uabb-photo .uabb-photo-content  img{
        max-width:150px;
    }
    .highlightPoits .fl-col-group .fl-col {
        width: 100% !important;
    }
    .highlightPoits .fl-col-group .fl-col .fl-col-content {
        border: 0;
    }
    .headerRightNav .fl-node-5d230a5e00677 .fl-rich-text>p {
        margin-bottom: 0;
    }
    h2 {
        font-size: 18px;
    }
    .footermenu .menu-item p a {
        color: #FBFBFB;
        font-family: Roboto;
        font-size: 12px;
        line-height: 23px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon {
        vertical-align: middle;
        padding-top: 6px;
    }
    .fl-col-content .fl-icon-wrap .fl-icon .fas.fa-map-marker-alt:before {
        margin-top: 6px;
    }
    .fl-rich-text>.message a {
        font-size: 16px;
    }
    nav ul#menu-copyright-bar-menu {
        align-items: center;
        justify-content: center;
		flex-direction: column !important;
    }
}

@media(min-width:650px) and (max-width:767px) {
    .coretec-sec .fl-col-group.fl-col-group-equal-height {
        display: block !important;
    }
    .footerCopyright div.fl-col-group.fl-col-group-equal-height {
        flex-direction: column;
    }
    .footerCopyright div.fl-col-group.fl-col-group-equal-height .fl-col-small:first-child .fl-node-content {
        padding: 10px 0;
    }

}

@media(max-width:500px) {
    .product-row .fl-post-grid-image>a .exlusive-badge {
        left: 93px !important;
    }
    .footerLinks .fl-col-group-custom-width div.fl-col-small{
        width: 100% !important;
        max-width: none;
    }
    .four-box-gaurantee .fl-col-group .fl-col-small{
        width: 100% !important;
        max-width: none;
    }
    .lastColumn .fl-module-interactive-banner-2{
        margin-bottom: 20px !important;
    }
    .fl-module-photo-gallery .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100% !important;
    }
    .fl-html .featured-products .featured-product-list{
        justify-content: center;
    }
    .fl-html .featured-products .featured-product-list .featured-product-item{
        width: 85%;
        text-align: center;
    }
}

@media(max-width:480px) {
    .footerLinks .fl-col-group,
    .footerCopyright .fl-col-group {
        display: block;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .fl-col {
        flex: 0;
    }
    .headerMain .fl-col-group.fl-col-group-equal-height .headerLogo {
        flex: 5px !important;
    }
    .headerMain .phone.retailer {
        margin-right: 0;
    }
    .galleryImages .uabb-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
    }
    .location-top .fl-button {
        text-align: unset;
    }
    .fl-node-5d1f5d4b47fe6 div.uabb-image-carousel .slick-next {
        right: 20px;
    }
    .fl-node-5d1f5d4b47fe6 [dir='rtl'] div.uabb-image-carousel .slick-prev {
        left: 20px;
    }
    .iPadFooter .fl-col-group {
        flex-direction: column;
    }
    .iPadFooter .fl-col-group .fl-col {
        flex: 2;
        width: 100% !important;
        text-align: center;
    }
    ul#menu-copyright-bar-menu {
        justify-content: center;
    }
    .footerCopyright .fl-col * {
        margin: 0;
    }
/*     .footerCopyright .fl-col-group .fl-col {
        height: 30px;
    } */
    .lastColumn .fl-col-content {
        flex-direction: column;
    }
    .homeCategories .fl-col-group {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .footerCopyright .fl-col-group {
        flex-direction: column;
    }
}

@media(max-width:430px) {
    .fl-page-bar-text-1 font {
        font-size: 14px;
    }
    
}

@media(max-width:400px) {
    .fl-html .featured-products .featured-product-list .featured-product-item{
        width: 100%;
    }
    .fl-page-bar-text-1 font {
        font-size: 11px;
    }
    .fl-page-bar-text-1 i {
        font-size: 16px;
    }
}
a.uabb-button {
    border-left: 0px!important;
    border-top: 0px!important;
    border-right: 0px!important;
}





#moove_gdpr_cookie_info_bar.moove-gdpr-dark-scheme {
    background-color: #4A4E69;
    border-top: 1px solid #fff;
  }
  
  
  #moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p a:hover,
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #f5f5f5 !important;
    opacity: 0.7;
  }
  
  .moove-gdpr-button-holder>button.mgbutton {
    background-color: #22223b !important;
    color: #fff !important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;
    box-shadow: none !important;
    border: none!important;
  }
  .moove-gdpr-button-holder>button.mgbutton:hover {
    background: #000000  !important;
    color: #fff!important;
    text-transform: uppercase!important;
    border-color: #000000  !important;
  }
  
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content #moove-gdpr-menu li button {
    color: #000 !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i,
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon {
    background-color: #22223b !important;
    border: 1px solid #fff !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close i:hover, 
  #moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-close span.gdpr-icon:hover,
  #moove_gdpr_cookie_info_bar span[data-href]>u.change-settings-button {
    color: #fff !important;
    background-color: #000000  !important;
  }
  button.moove-gdpr-infobar-close-btn:hover i {
    color: #000000  !important;
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button {
    background-color: #22223b !important;
    color: #fff!important;  
    border: 0px!important;
    border-radius: 0px!important;
    font-family: "Montserrat",sans-serif!important;
    font-weight: 500!important;
    text-transform: uppercase!important;  
      
  }
  #moove_gdpr_cookie_modal .moove-gdpr-button-holder > button:hover {
    background: #000000  !important;
    color: #fff !important;
    border: 0px!important;
  }
  
  .moove-gdpr-tab-main-content a:hover {
    color: #22223b !important;
  }

 .facetwp-selections ul:before, div#mm-product-list .product-list-container .facet_filters strong {
    border-bottom: 2px solid #22223b !important;
    color: #22223b !important;
}